* {
  box-sizing: border-box;
}

html,
body,
main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0;
  color: #000000;
}

canvas {
  width: 100vw;
  height: 100vh;
}