* {
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background: #f0f0f0;
    color: #000000;
  }
  
  main {
    width: 0%;
    height: 0%;
  }

  a,a:visited {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }

  a:hover {
    color: #FFFFFF;
  }



  div.about-container {
    width: 100%;
    /* height: 100%; */
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    margin-left: 0;
    padding: 0;
  }

  div.about-content {
    width: 100%;
    height: auto;
    /* position: fixed;
    top: 0;
    left: 0; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: left;
    text-align: left;
    margin-left: 2rem;
    padding: 0;
  }

  p.desc {
    height: auto;
    max-width: 80vw;
    text-wrap: wrap;
  }

  h1 {
    margin: 0;
    margin-top: 20px;
  }

#sketch-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    margin-left: 2rem;
  }
  
  #sketch-container canvas {
    max-width: 100%;
    height: auto;
  }

  div#titleDiv {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
  }
  
  div#titleDiv p {
    font-size: 1.25rem;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
  }

div#questionDiv {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
  }
  
  div#questionDiv p {
    font-size: 1rem;
    text-align: left;
    margin-top: 10px;
  }



div#memoryDiv {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
  }
  
  div#memoryDiv p {
    font-size: 1rem;
    text-align: left;
    margin-top: 10px;
  }


div#introDiv {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
  }
  
  div#introDiv p {
    font-size: 1rem;
    text-align: left;
    margin-top: 10px;
  }

  div#outroDiv {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
  }
  
  div#outroDiv p {
    font-size: 1rem;
    text-align: left;
    margin-top: 10px;
  }

  div#hallucinationDiv {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
  }
  
  div#hallucinationDiv p {
    font-size: 1rem;
    text-align: left;
    margin-top: 10px;
  }

 
